{%extends "base.html" %}
{% block script %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<style>
th, td {
  padding: 15px;
}
</style>
{% endblock %}
{%block content%}
<div>
    <h4>
        Productos no encontrados: {% for p in prod_ids_not_found %} p, {% endfor %}
    </h4>
    <form>
        <p>Ponga codigos separados por coma para buscar</p>
        <textarea rows=10 cols=50 type="textarea" name="prod_ids" placeholder="Codigos separados por coma (,)"
        >{{prod_ids}}</textarea>
        <input type="submit" name="submit" value="Buscar"/>
    </form>

    {% for p in prods %}
		<p id="{{loop.index}}-uid" >Codigo: {{p[0].prod_id}} <p/>
		<p id="{{loop.index}}-nombre" >Nombre: {{p[0].name}} <p/>
		<p id="{{loop.index}}-nombre" >Ultimo cambio: {{p[2]}} <p/>
        <p> <a href="{{p[4]}}">Ver ultimos cambios de inventario</a></p>

        <table>
            <tr>
                <th>Bodega</th>
                <th>Cantidad</th>
                <th>Fecha de revision</th>
            </tr>
            {%for bod, val in p[1].items() %} 
            <tr>
                <td>{{inv_id_to_name[bod]}}</td>
                <td>{{val}}</td>
                <td>{{p[3].get(bod)}}</td>
            </tr>
            {% endfor %}
        </table>
        <hr />
    {% endfor %}
</div>

{% endblock %}
