{%extends "base.html" %}
{% block script %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('.guardar').click(function() {
            alert('called');
            var num = $(this).attr('num');
            var codigo = $(this).attr('codigo');
            var alm = $(this).attr('alm');
            var codigo = $(this).attr('codigo');
            var alm = $(this).attr('alm');
            var url = '/api/alm/' + alm + '/producto/' + encodeURIComponent(codigo);
            var data = {
                precio1: $('#' + num + '-precio1').val(),
                precio2: $('#' + num + '-precio2').val(),
                nombre: $('#' + num + '-num').val(),
                prod_id: $('#' + num + '-nombre').val(),
            };
            data = JSON.stringify(data);
            alert(data);
            $.ajax({
                url: url,
                type: 'PUT',
                data: data,
                success: function(result) {
                    alert(result);
                },
                failure: function(error) {
                    alert(error);
                }
            });
        });
        $('.eliminar').click(function() {
            var codigo = $(this).attr('codigo');
            var alm = $(this).attr('alm');
            var url = '/api/alm/' + alm + '/producto/' + encodeURIComponent(codigo);
            $.ajax({
                url: url,
                type: 'DELETE',
                success: function(result) {
                    $('tr#' + codigo).remove();
                },
                failure: function(error) {
                    alert(error);
                }
            });
        });
    });
</script>
{% endblock %}
{%block content%}
<div>
    <table>
        {% for p in prods %}
        <tr id="{{p.codigo}}">

		<td><p id="{{loop.index}}-codigo" >{{p[0].prod_id}} <p/></td>
		<td><p id="{{loop.index}}-nombre" >{{p[0].name}} <p/></td>
		<td><p id="{{loop.index}}-cant" >
			<ul>
	          	{%for bod, val in p[1].items() %} 
			  <li> Bodega={{bod}}, Cantidad={{val}} </li>
			{% endfor %}
			</ul>

	            <p/></td>

        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
